body 
  background: #340505 url(/images/background.png) repeat-x

#wrapper
  margin-left: auto
  margin-right: auto
  width: 1000px 

#nav
  width: 100%
  height: 85px
  .left
    float: left
    ul
      list-style: none 
      margin: 0 
      padding: 0 
    ul li
      float: left 
      padding-left: 5px  
      padding-right: 5px  
      display: block 
      margin-right: 5px 
    ul li a 
      color: white
      text-decoration: none
      font-size: 20px
      display: block 
      overflow: hidden 
      height: 75px 
      width: 75px  
    #nav_start
      width: 100px 
    ul li img
      position: absolute 
      border: 3px solid #881212 
    ul li p      
      float: right
      color: white
      margin: 0 
      padding: 0 
      width: 90px 
      display: block 
      margin-left: 5px
      margin-right: 5px  
    ul li #move_is   
      padding-left: 30px
    ul li p img
      border: 0 none
    ul li a .navbox
      float: left
      border-left: black 1px solid 
      border-top: black 1px solid 
      -moz-border-radius-topleft: 20px
      -webkit-border-top-left-radius: 20px
      width: 75px
      height: 75px 
      text-align: center
    ul li a .navbox .text
      position: relative
      top: 20px  
    
  .middle      
    float: right
      
  .right
    float: right 
    .round_box
      width: 280px
      height: 73px
      background: black 
      -moz-border-radius-topleft: 20px
      -webkit-border-top-left-radius: 20px
      .img_right
        float: right
  
#header 
  width: 100%
  background: #eae3d1 
  height: 80px   
  border-left: #cbc3b0 3px solid
  border-top: #cbc3b0 3px solid
  -moz-border-radius-topleft: 20px
  -webkit-border-top-left-radius: 20px 
  img
    padding-left: 10px

#header2 
  width: 100%
  background: #e8dab7
  height: 80px   
  border-left: #cbc3b0 3px solid
  border-top: #cbc3b0 3px solid

                       
#contact  
  border-left: #d33e08 2px solid
  border-top: #d33e08 2px solid
  -moz-border-radius-topleft: 20px
  -webkit-border-top-left-radius: 20px  
  height: 40px 
  margin-top: 5px
  padding-top: 10px
  width: 100% 
  color: white
  font-size: 40px
  .contact-icon
    float: left
    background: url('/images/contact-sprites.png')    
    height: 52px      
    margin-left: 15px
  .contact-text
    float: left
    padding-left: 15px 
    padding-top: 10px    
  #phone-icon 
    width: 46px
    background-position: -20px -107px 
  #email-icon
    width: 47px
    background-position: -162px -187px  
  #twitter-icon
    width: 56px
    background-position: -87px -110px     
    
#container
  width: 100%  

#main   
  margin-top: 15px
  padding-top: 30px 
  padding-bottom: 60px
  height: 550px
  background: #7a0101  
  border-left: #d33e08 2px solid
  border-top: #d33e08 2px solid
  -moz-border-radius-topleft: 20px
  -webkit-border-top-left-radius: 20px
  .left
    padding-left: 20px
    float: left
  .right      
    padding: 5px
    float: left 
    p
      text-align: center
      color: white
    .pipeline
      color: white
      list-style-type: none
      font-size: 10px
  .pages
    -moz-border-radius-topleft: 20px
    -webkit-border-top-left-radius: 20px
    border-left: #d33e08 3px solid
    border-top: #d33e08 3px solid               
    margin-left: 30px
    margin-right: 30px
    padding-bottom: 5px
    background: black
    color: white
    .pullquote  
      color: #ffffaa
      font-size: 30px
      padding-left: 30px
      padding-right: 30px
      padding-top: 30px 
      height: 200px
      text-align: center
    p 
      line-height: 200%
      padding-left: 15px 
      padding-right: 15px
      font-size: 22px
      .lead-in
        font-size: 36px
        color: #7f00ff 
    .center
      text-align: center
    a, a:visited, a:hover
      font-size: 36px
      color: #00bfbf
      text-decoration: none  
      padding-left: 10px
      padding-right: 10px  
  
     
.jcarousel-controls
  padding-left: 5px
  list-style-type: none 
  li
    background: #7a0101
    border-top: #d33e08 1px solid 
    border-bottom: #d33e08 1px solid 
    a
      text-decoration: none
      color: white
      font-size: 22px
      padding-top: 10px
      .link_box
        width: 100% 
  li:hover
    background: #a00303
      
#gallery 
  a
    color: #7fff00 
  li .gright
    width: 250px
    float: right
    color: white
    h2
      margin: 5px 
      color: #aad4ff
    .strong
      color: #d4ffaa
  li .gleft    
    width: 400px
    float: left
    
#footer    
  margin-top: 5px
  text-align: center
  width: 100%
  height: 30px
  background: #754f4f 
  font-size: 12px
  .sponsor 
    padding-top: 5px
    color: white   
    a     
      padding: 5px
      text-decoration: none
      color: pink
    
  
    
