body {
  background: #340505 url(/images/background.png) repeat-x; }

#wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 1000px; }

#nav {
  width: 100%;
  height: 85px; }
  #nav .left {
    float: left; }
  #nav .middle {
    float: left; }
    #nav .middle ul {
      list-style: none;
      margin: 0;
      padding: 0; }
    #nav .middle ul li {
      float: left;
      padding-left: 5px;
      padding-right: 5px;
      display: block;
      margin-right: 5px; }
    #nav .middle ul li a {
      color: white;
      text-decoration: none;
      font-size: 20px;
      display: block;
      overflow: hidden;
      height: 75px;
      width: 75px; }
    #nav .middle #nav_start {
      width: 100px; }
    #nav .middle ul li img {
      position: absolute;
      border: 3px solid #881212; }
    #nav .middle ul li p {
      float: right;
      color: white;
      margin: 0;
      padding: 0;
      width: 90px;
      display: block;
      margin-left: 5px;
      margin-right: 5px; }
    #nav .middle ul li #move_is {
      padding-left: 30px; }
    #nav .middle ul li p img {
      border: 0 none; }
    #nav .middle ul li a .navbox {
      float: left;
      border-left: black 1px solid;
      border-top: black 1px solid;
      -moz-border-radius-topleft: 20px;
      -webkit-border-top-left-radius: 20px;
      width: 75px;
      height: 75px;
      text-align: center; }
    #nav .middle ul li a .navbox .text {
      position: relative;
      top: 20px; }
  #nav .right {
    float: right; }
    #nav .right .round_box {
      width: 280px;
      height: 73px;
      background: black;
      -moz-border-radius-topleft: 20px;
      -webkit-border-top-left-radius: 20px; }
      #nav .right .round_box .img_right {
        float: right; }

#header {
  width: 100%;
  background: #eae3d1;
  height: 228px;
  border-left: #cbc3b0 3px solid;
  border-top: #cbc3b0 3px solid;
  -moz-border-radius-topleft: 20px;
  -webkit-border-top-left-radius: 20px; }
  #header .left {
    height: 200px;
    margin: 10px;
    float: left;
    padding-top: 15px; }
    #header .left a {
      padding-left: 55px; }
    #header .left a img {
      border: 0 none; }
  #header .right {
    margin: 3px;
    height: 218px;
    float: right; }
    #header .right a {
      padding-left: 15px; }
    #header .right a img {
      border: 0 none; }

#contact {
  height: 35px;
  margin-top: 5px;
  padding-top: 5px;
  border-left: #790102 3px solid;
  border-top: #790102 3px solid;
  background: #dd2400;
  width: 100%;
  color: white; }
  #contact .logo {
    padding-left: 30px; }
  #contact .phone {
    padding-left: 30px; }
  #contact .email {
    padding-left: 30px; }

#container {
  width: 100%; }

#main {
  margin-top: 15px;
  padding-top: 30px;
  padding-bottom: 60px;
  height: 400px;
  background: #7a0101;
  border-left: #d33e08 2px solid;
  border-top: #d33e08 2px solid;
  -moz-border-radius-topleft: 20px;
  -webkit-border-top-left-radius: 20px; }
  #main .left {
    padding-left: 20px;
    float: left; }
  #main .right {
    padding: 5px;
    float: left; }
    #main .right p {
      text-align: center;
      color: white; }

.jcarousel-controls {
  padding-left: 5px;
  list-style-type: none; }
  .jcarousel-controls li {
    background: #7a0101;
    border-top: #d33e08 1px solid;
    border-bottom: #d33e08 1px solid; }
    .jcarousel-controls li a {
      text-decoration: none;
      color: white;
      font-size: 22px;
      padding-top: 10px; }
      .jcarousel-controls li a .link_box {
        width: 100%; }
  .jcarousel-controls li:hover {
    background: #a00303; }

#gallery a {
  color: #7fff00; }
#gallery li .gright {
  width: 250px;
  float: right;
  color: white; }
  #gallery li .gright h2 {
    margin: 5px;
    color: #aad4ff; }
  #gallery li .gright .strong {
    color: #d4ffaa; }
#gallery li .gleft {
  width: 400px;
  float: left; }

#footer {
  margin-top: 5px;
  text-align: center;
  width: 100%;
  height: 30px;
  background: #754f4f;
  font-size: 12px; }
  #footer .sponsor {
    padding-top: 5px;
    color: white; }
    #footer .sponsor a {
      padding: 5px;
      text-decoration: none;
      color: pink; }
