- content_for :contact do
  = partial 'pages/contact'
.pages
  .pullquote
    = image_tag 'about.png'
  %p
    We are part of the Saz Family of sites which include 
    = link_to 'Sazbean.com', 'http://sazbean.com' 
    (online marketing and social media blog) 
    and 
    = link_to 'Sazbean Consulting', 'http://sazbeanconsulting.com' 
    (Business Strategy and Social Media consulting services).  Many of our projects 
    have cross components with Marketing, Social Media and Software Development as interconnecting needs.
    Founder of Sazboom, principal Ruby developer for its clients and Co-founder of Sazbean.com, Aaron Worsham  
    is passionate about providing affordable web applications at a cost even small businesses can afford.
  %p.center 
    %span.lead-in Aaron Worsham: 
    =link_to 'Github repo', 'http://github.com/aaronworsham'
    =link_to 'Resume', 'public/resume.pdf'     
    =link_to 'Twitter', 'http://twitter.com/aaronworsham' 
    
    
  
