- content_for :contact do
  = partial 'pages/contact'

.pages
  .pullquote
    = image_tag('price.png')
  %div
    %p 
      Sazbooz was started with a mission ~ 
      %span.lead-in Ruby Consulting Everyone can Afford.   
      Small businesses, especially Web Startups, needed a partner not another vendor.
      
      So we did three things with Sazboom to make Ruby development Affordable
      %ul
        %li
          Researched Competition's average hourly rate, and cut ours by 20%.  Professional
          Ruby Developers charge between $75 - $125 an hour.  We start at $60/hr.
        %li
          Price Match Guarantee.  If another Professional Ruby Developer charges less than $60/hr, 
          we will beat their quoted rate by 5%.
        %li
          Long Engagement Discounts.  We want successful, long-term clients.  So after 3 months (60 billable days) 
          on a project, our rate goes down to $55.  After 6 months (120 billable days) it goes down to $50.  
          And after 12 months (240 billable days) we only charge $45/hour.  
    %p.center
      No other Ruby Consulting company has our commitment to 
      %br
      %span.lead-in Affordable Ruby Development
