
- content_for :contact do
  = partial 'pages/contact'

.pages
  .pullquote 
    = image_tag('solve.png')
  
  %div
    %p
      %span.lead-in Web applications ~ its what we do.  
      Sometimes you need something more than a plain web site.  And sometimes you need something less than a Facebook Killer.
      It is in those in-between times that Sazboom has made its home.  Let us help custom-craft a web application that scratches just the right
      itch for your customers or clients.   
  
      We are a Lean-Startup, Agile Development shop.  If those terms mean anything to you, 
      %span.lead-in give us a call.  
      If they don't, 
      %span.lead-in give us a call 
      and we will tell you why they are a good thing for our clients. 
    %p.center       
      %span.lead-in Consultations are always Free