%ul
  %li                    
    %a#nav_with_heart{:href => "/"}
      .navbox
        .text home
      %p
        our doors are always open
  %li                    
    %a.nav_without_heart{:href => "/services"} 
      .navbox
        .text services    
      %p
        what we can help you with 
  %li                    
    %a.nav_without_heart{:href => "/price"} 
      .navbox
        .text price    
      %p
        our price match guarantee  
  %li                    
    %a.nav_without_heart{:href => "/about"} 
      .navbox
        .text about    
      %p
        things we admit to